.avatar-clicked {
  animation: clickEffect 0.2s ease;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Avatar grows */
  }
  100% {
    transform: scale(1); /* And shrinks back */
  }
}
